* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to bottom right, #ffb6c1, #add8e6);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

#timeConLai {
    margin-bottom: 10px;
    font-size: 18px;
}

#word {
    font-size: 24px;
    padding: 10px;
    background-color: #afeeee;
    border: 2px solid #add8e6;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

#inputDoan {
    padding: 10px;
    font-size: 18px;
    color: #ff6666;
    border: none;
    border-bottom: 2px solid #ff6666;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
}

button i {
    margin-right: 5px;
}

#btnDoan {
    background-color: #ffb6c1;
    color: #fff;
}

#btnDoan:hover,
#btnDoan:focus {
    background-color: #ff6f81;
}

#btnBoQua {
    background-color: #f0e68c;
    color: #b8860b;
}

#btnBoQua:hover,
#btnBoQua:focus {
    background-color: #ffd700;
}

#btnHuyBo {
    background-color: #f1a9a0;
    color: #b22222;
}

#btnHuyBo:hover,
#btnHuyBo:focus {
    background-color: #e57373;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.message-correct {
    color: #388e3c;
}

.message-incorrect {
    color: #d32f2f;
}

.end-game-container {
    display: none;
    justify-content: space-between;
    margin-top: 20px;
}

.ket-thuc, .lich-su-sai {
    width: 45%;
    text-align: left;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ket-thuc h2, .lich-su-sai h2 {
    color: #ff6666;
    margin-bottom: 10px;
}

.ket-thuc p, .lich-su-sai ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.ket-thuc i, .lich-su-sai i {
    margin-right: 8px;
}

.ket-thuc button {
    background-color: #add8e6;
    color: #4682b4;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 5px;
}

.ket-thuc button:hover,
.ket-thuc button:focus {
    background-color: #87cefa;
}

.action-buttons {
    margin-top: 10px;
    text-align: center;
}

.action-buttons button {
    background-color: #add8e6;
    color: #4682b4;
}

.action-buttons button:hover,
.action-buttons button:focus {
    background-color: #87cefa;
}

button#chiaSeThanhTich {
    background-color: #a8dadc;
    color: #1d3557;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button#chiaSeThanhTich:hover {
    background-color: #f1faee;
    color: #1d3557;
}
